{{#unless (eq sections 'list')}}
<div class="regionsDetailTabHeader regionsCustomTagsHeader">
    <!-- Add Existing Category Dropdown -->
    <div class="regionsCustomTagSelections">
        {{#if categories}}
        <label>
            {{localize "REGIONS.add-existing-category"}}
            <select data-change="add-existing-category" name="regionsExistingCategories">
                <option>{{localize "REGIONS.please-select"}}</option>
                {{selectOptions categories selected=value localize=false labelAttr="name" nameAttr="id"}}
            </select>
        </label>
        {{/if}}
        <label>{{localize "REGIONS.add-custom-tag"}}
            <select data-change="add-custom-tag" name="regionsExistingCustomTag">
                <option>{{localize "REGIONS.please-select"}}</option>
                {{selectOptions availableTags selected=value localize=false labelAttr="name" nameAttr="id"}}
            </select>
        </label>
    </div>
    <span>
        <!-- Manage Categories -->
        <button data-action="manage-categories"><i class="fas fa-th-list"></i>{{localize "REGIONS.CATEGORY.manage"}}</button>
        <!-- Create New Document of this Type -->
        <button data-action="manage-custom"><i class="fas fa-cog"></i>{{localize localCreate}}</button>
    </span>
</div>
<hr />
{{/unless}}
<section class="regionDetailContent regionList">
    {{#unless custom}}
    {{#if (eq sections 'list')}}
    {{#if filter}}
    <div>{{localize "REGIONS.no-search-results"}}</div>
    {{else}}
    <div>{{localize "REGIONS.no-custom-defined"}}</div>
    {{/if}}
    {{else}}
    <div>{{localize "REGIONS.no-custom-defined"}}</div>
    {{/if}}
    {{else}}
    {{#each custom}}
    <div data-category-id="{{id}}">
        <div class="regionsCategoryHeader">
            <button type="button" data-category-id="{{id}}" data-action="toggle-collapse">
                <i class="fas fa-caret-square-down"></i></button>
            <label class="regionsCategoryName" data-category-id="{{id}}">{{name}}</label>
            {{#unless (eq ../sections 'list')}}
            {{#unless (eq id null)}}
            <i data-action="delete-category" class="fas fa-trash" title="{{localize "REGIONS.CATEGORY.delete"}}"></i>
            {{/unless}}
            {{/unless}}
        </div>
        <div class="regionsCategoryContent">
            {{#each documents}}
            <div class="regionsCustomTag" data-detail-id="{{id}}">
                {{#unless (eq ../../sections 'list')}}
                <div class="regionsCustomTagDragger regionsDraggable">
                    <span><i class="fas fa-grip-vertical"></i></span>
                </div>
                {{/unless}}
                <div class="regionsCustomTagHeader {{#unless (eq ../../sections 'list')}}regionsDraggable{{/unless}}">
                    <label>{{customData.name}}</label>
                </div>
                <div class="regionsCustomTagData">
                    {{#if (eq ../../sections 'list')}}
                    {{#if (eq customData.type "TEXT")}}
                    <textarea disabled readonly>{{customData.value}}</textarea>
                    {{/if}}
                    {{#if (eq customData.type "NUMERIC")}}
                    <input disabled readonly type="number" max="{{customData.max}}" value="{{customData.value}}" />
                    {{/if}}
                    {{#if (eq customData.type "LIST")}}
                    <select disabled>
                        {{selectOptions customData.options selected=customData.value localize=false labelAttr="value" nameAttr="id"}}
                    </select>
                    {{/if}}
                    {{#if (eq customData.type "TOGGLE")}}
                    <input disabled readonly type="checkbox" {{checked customData.value}} />
                    {{/if}}
                    {{#if (eq customData.type "COUNTER")}}
                    {{#each customData.steps as |step stepKey|}}
                    <input disabled readonly type="radio" class="regionsCustomCounter" data-step="{{stepKey}}" {{checked step}}>
                    {{/each}}
                    {{/if}}
                    {{#if (eq customData.type "SLIDER")}}
                    <div class="regionsSlider">
                        <input disabled readonly type="range" min="0" max="{{customData.max}}" value="{{customData.value}}" title="{{customData.value}}" />
                        {{#each customData.options}}
                        <span>{{value}}</span>
                        {{/each}}
                    </div>
                    {{/if}}
                    {{else}}
                    <input type="hidden" name="regionsCustomID" value="{{id}}" />
                    {{#if (eq customData.type "TEXT")}}
                    <textarea name="regionsCustomValue-{{id}}">{{customData.value}}</textarea>
                    {{/if}}
                    {{#if (eq customData.type "NUMERIC")}}
                    <div class="regionsCustomTagNumeric">
                        <button type="button" class="regions-resource resource-decrease" data-action="custom-tag-decrease">-</button>
                        <input name="regionsCustomValue-{{id}}" type="number" max="{{customData.max}}" value="{{customData.value}}" />
                        <button type="button" class="regions-resource resource-increase" data-action="custom-tag-increase">+</button>
                    </div>
                    {{/if}}
                    {{#if (eq customData.type "LIST")}}
                    <select name="regionsCustomValue-{{id}}">
                        {{selectOptions customData.options selected=customData.value localize=false labelAttr="value" nameAttr="id"}}
                    </select>
                    {{/if}}
                    {{#if (eq customData.type "TOGGLE")}}
                    <input name="regionsCustomValue-{{id}}" type="checkbox" {{checked customData.value}} />
                    {{/if}}
                    {{#if (eq customData.type "COUNTER")}}
                    {{#each customData.steps as |step stepKey|}}
                    <input type="radio" class="regionsCustomCounter" data-action="custom-counter-adjust" data-id="{{../id}}"
                        data-step="{{stepKey}}" {{checked step}}>
                    {{/each}}
                    {{/if}}
                    {{#if (eq customData.type "SLIDER")}}
                    <div class="regionsSlider">
                        <input name="regionsCustomValue-{{id}}" type="range" min="0" max="{{customData.max}}" value="{{customData.value}}" title="{{customData.value}}" />
                        {{#each customData.options}}
                        <span>{{value}}</span>
                        {{/each}}
                    </div>
                    {{/if}}
                    {{/if}}
                </div>
                {{#unless (eq ../../sections 'list')}}
                <div class="regionsCustomOptions">
                    <i data-action="edit-custom" class="fas fa-cog" title="{{localize "REGIONS.CUSTOM_TAG.Edit"}}"></i>
                    <i data-action="delete-custom" class="fas fa-trash" title="{{localize "REGIONS.CUSTOM_TAG.Delete"}}"></i>
                </div>
                {{/unless}}
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
    {{/unless}}
</section>