{{#unless regions}}
{{#if (eq sections 'list')}}
{{#if filter}}
<div>{{localize "REGIONS.no-search-results"}}</div>
{{else}}
<div>{{localize "REGIONS.no-regions-associated"}}</div>
{{/if}}
{{else}}
<div>{{localize "REGIONS.no-regions-associated"}}</div>
{{/if}}
{{else}}
{{#each regions}}
<div class="foundryRegionsCategory" data-category-id="{{id}}">
    <div class="foundryRegionsCategoryHeader">
        <button type="button" data-category-id="{{id}}" data-action="toggle-collapse"><i
                class="fas fa-caret-square-down"></i></button>
        {{#if (eq ../sections 'list')}}
        <input type="text" disabled readonly value="{{name}}" placeholder="{{localize "REGIONS.category-placeholder"}}" />
        {{else}}
        <input type="text" value="{{name}}" data-category-id="{{id}}" name="regionCategoryName-{{id}}" {{disabled
            readonly}} placeholder="{{localize "REGIONS.category-placeholder"}}" />
        {{#unless readonly}}
        <button type="button" data-action="delete-category" data-category-id="{{id}}" title="{{localize "REGIONS.TOOLTIP.delete-category"}}">
            <i class="fas fa-trash"></i></button>
        {{/unless}}
        {{/if}}
    </div>
    <div class="foundryRegionsCategoryContent">
        {{#each documents}}
        <div class="flexrow frRegionDetail" data-detail-id="{{id}}">
            <input type="hidden" name="frID" value="{{id}}" />
            <div class="regionsFlex1 frSelectable" title="{{localize " REGIONS.view-region"}}" data-action="region">
                <img src="{{foundryIMG}}" />
            </div>
            {{#if ../editable}}
            <label class="regionsFlex4 frSelectable" data-action="view">{{foundryName}}</label>
            <textarea class="regionsFlex4 frDescription" type="text" data-dtype="String" title="{{localize "REGIONS.TOOLTIP.description"}}" placeholder="{{localize " REGIONS.no-description"}}"
                name="frDescription">{{description}}</textarea>
            {{else}}
            <label class="regionsFlex7 frSelectable" data-action="view">{{foundryName}}</label>
            {{/if}}
            <div class="regionsFlex1">
                <button type="button" data-action="deleteAssociation"><i class="fas fa-trash"></i></button>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/each}}
{{/unless}}