<form>
    <h3>{{localize "REGIONS.regions"}}</h3>
    <hr />
    <div>
        <p>
            <b>v{{version}}</b>, {{localize "REGIONS.created-by"}} <em>Geekswordsman</em></b>
        </p>
        <p>{{localize "REGIONS.support-the-creator"}}<br /><a href="https://ko-fi.com/geekswordsman">https://ko-fi.com/geekswordsman</a></p>
        <p>{{localize "REGIONS.project-page"}}<br /><a href="https://gitlab.com/geekswordsman/regions">https://gitlab.com/geekswordsman/regions</a></p>
        <p>{{localize "REGIONS.wiki"}}<br /><a href="https://gitlab.com/geekswordsman/regions/-/wikis/home">https://gitlab.com/geekswordsman/regions/-/wikis/home</a></p>
        <p>{{localize "REGIONS.live-support"}}<br /><a href="https://discord.gg/foundryvtt">https://discord.gg/foundryvtt</a></p>
    </div>
</form>