<form>
    <nav class="sheet-tabs tabs" data-group="sections">
        <a class="item" data-tab="info">{{localize "REGIONS.info"}}</a>
        {{#if editable}}
        <a class="item" data-tab="custom">{{localize "REGIONS.custom"}}</a>
        {{/if}}
        <a class="item" data-tab="regions">{{localize "REGIONS.regions"}}</a>
        <a class="item" data-tab="scenes">{{localize "REGIONS.scenes"}}</a>
        <a class="item" data-tab="actors">{{localize "REGIONS.actors"}}</a>
        <a class="item" data-tab="items">{{localize "REGIONS.items"}}</a>
        <a class="item" data-tab="journals">{{localize "REGIONS.journals"}}</a>
        <a class="item" data-tab="rolltables">{{localize "REGIONS.rolltables"}}</a>
        {{#if editable}}
        <a class="item" data-tab="playlists">{{localize "REGIONS.playlists"}}</a>
        {{/if}}
    </nav>
    <hr />
    <section class="regionContent" data-region-id="{{region.id}}">
        <div class="tab" data-tab="info">
            <div class="flexrow">
                <span class="regionsFlex1 regionsImage">
                    <img src="{{region.icon}}" data-icon="{{region.icon}}" data-action="icon" />
                </span>
                <div class="regionsFlex9">
                    <input class="regionInput" type="text" data-dtype="String" name="name" placeholder="{{localize "REGIONS.default-name"}}" value="{{region.name}}" />
                    {{#if editable}}
                    <div class="regionDetailInfo">
                        <label for="private" title="{{localize "REGIONS.is-private-hint"}}">
                            <input type="checkbox" data-dtype="Boolean" name="private" value="{{region.private}}" {{checked region.private}} />
                            <span>{{localize "REGIONS.is-private"}}</span>
                        </label>
                        {{#if region.template}}
                        <label class="regionsTemplateLink">
                            <span data-action="open-template"><i class="fas fa-clipboard-list"></i>{{region.template.name}}</span>
                            <span data-action="remove-template" title="{{localize "REGIONS.TEMPLATE.Remove"}}"><i class="fas fa-times"></i></span>
                        </label>
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
            </div>
            <hr />
            <div class="regionInfoContent">
                <section class="regionList">
                    <div class="flexrow regionSearchBar">
                        <h3 class="regionsFlex1">{{localize "REGIONS.search"}}</h3>
                        <span class="regionsFlex9">
                            <input name="searchFilter" type="text" value="{{searchFilter}}" />
                            <button data-action="search" title="{{localize "REGIONS.perform-search"}}"><i class="fas fa-search"></i></button>
                            <button data-action="clearSearch" title="{{localize "REGIONS.clear-search"}}"><i class="fas fa-times-circle"></i></button>
                        </span>
                    </div>
                    <hr />
                    <div class="regionListResults">
                        {{#if editable}}
                        {{#if searchLists.custom}}
                        <div class="regionsCategoryHeader" data-action="expand-collapse" data-target="regionInfoListCustom">
                            <button type="button"><i class="fas fa-caret-square-down"></i></button>
                            <h3 class="regionsFlex9">{{localize "REGIONS.custom"}}</h3>
                        </div>
                        <section class="regionInfoListCustom">
                            {{> "modules/regions/templates/partials/custom-keys.hbs" sections='list'
                            custom=searchLists.custom filter=searchFilter}}
                        </section>
                        <hr />
                        {{/if}}
                        {{/if}}
                        {{#if searchLists.regions}}
                        <div class="regionsCategoryHeader" data-action="expand-collapse" data-target="regionInfoListRegions">
                            <button type="button"><i class="fas fa-caret-square-down"></i></button>
                            <h3 class="regionsFlex9">{{localize "REGIONS.regions"}}</h3>
                        </div>
                        <section class="regionInfoListRegions">
                            {{> "modules/regions/templates/partials/documents.hbs" sections='list' data=searchLists.regions filter=searchFilter}}
                        </section>
                        <hr />
                        {{/if}}
                        {{#if searchLists.scenes}}
                        <div class="regionsCategoryHeader" data-action="expand-collapse" data-target="regionInfoListScenes">
                            <button type="button"><i class="fas fa-caret-square-down"></i></button>
                            <h3 class="regionsFlex9">{{localize "REGIONS.scenes"}}</h3>
                        </div>
                        <section class="regionInfoListScenes">
                            {{> "modules/regions/templates/partials/documents.hbs" sections='list' data=searchLists.scenes filter=searchFilter}}
                        </section>
                        <hr />
                        {{/if}}
                        {{#if searchLists.actors}}
                        <div class="regionsCategoryHeader" data-action="expand-collapse" data-target="regionInfoListActors">
                            <button type="button"><i class="fas fa-caret-square-down"></i></button>
                            <h3 class="regionsFlex9">{{localize "REGIONS.actors"}}</h3>
                        </div>
                        <section class="regionInfoListActors">
                            {{> "modules/regions/templates/partials/documents.hbs" sections='list' data=searchLists.actors filter=searchFilter}}
                        </section>
                        <hr />
                        {{/if}}
                        {{#if searchLists.items}}
                        <div class="regionsCategoryHeader" data-action="expand-collapse" data-target="regionInfoListItems">
                            <button type="button"><i class="fas fa-caret-square-down"></i></button>
                            <h3 class="regionsFlex9">{{localize "REGIONS.items"}}</h3>
                        </div>
                        <section class="regionInfoListItems">
                            {{> "modules/regions/templates/partials/documents.hbs" sections='list' data=searchLists.items filter=searchFilter}}
                        </section>
                        <hr />
                        {{/if}}
                        {{#if searchLists.journals}}
                        <div class="regionsCategoryHeader" data-action="expand-collapse" data-target="regionInfoListJournals">
                            <button type="button"><i class="fas fa-caret-square-down"></i></button>
                            <h3 class="regionsFlex9">{{localize "REGIONS.journals"}}</h3>
                        </div>
                        <section class="regionInfoListJournals">
                            {{> "modules/regions/templates/partials/documents.hbs" sections='list' data=searchLists.journals filter=searchFilter}}
                        </section>
                        <hr />
                        {{/if}}
                        {{#if searchLists.rolltables}}
                        <div class="regionsCategoryHeader" data-action="expand-collapse" data-target="regionInfoListRolltables">
                            <button type="button"><i class="fas fa-caret-square-down"></i></button>
                            <h3 class="regionsFlex9">{{localize "REGIONS.rolltables"}}</h3>
                        </div>
                        <section class="regionInfoListRolltables">
                            {{> "modules/regions/templates/partials/documents.hbs" sections='list' data=searchLists.rolltables filter=searchFilter}}
                        </section>
                        <hr />
                        {{/if}}
                        {{#if searchLists.playlists}}
                        <div class="regionsCategoryHeader" data-action="expand-collapse" data-target="regionInfoListPlaylists">
                            <button type="button"><i class="fas fa-caret-square-down"></i></button>
                            <h3 class="regionsFlex9">{{localize "REGIONS.playlists"}}</h3>
                        </div>
                        <section class="regionInfoListPlaylists">
                            {{> "modules/regions/templates/partials/documents.hbs" sections='list' data=searchLists.playlists filter=searchFilter}}
                        </section>
                        {{/if}}
                    </div>
                </section>
                <div class="regionsNotesEditor">
                    <label>{{localize "REGIONS.notes"}}</label>
                    <hr />
                    <div class="regionNotes">
                        {{#if isAtLeastFoundryV10}}
                        {{editor notes target="notes" button=true owner=owner editable=editable}}
                        {{else}}
                        {{editor content=notes target="notes" button=true owner=owner editable=editable}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab" data-tab="custom">
            <div class="regionsCustom">
                {{> "modules/regions/templates/partials/custom-keys.hbs" createType="Custom" localCreate="REGIONS.CUSTOM_TAG.Manage" sections='custom' categories=categories.Custom}}
            </div>
        </div>
        <div class="tab" data-tab="regions">
            {{> "modules/regions/templates/partials/documents.hbs" detailClass="regionRegions" createType="Region" localCreate="REGIONS.new-region" categories=categories.Region sections='regions' data=regions}}
        </div>
        <div class="tab" data-tab="scenes">
            {{> "modules/regions/templates/partials/documents.hbs" detailClass="regionScenes" createType="Scene" localCreate="REGIONS.new-scene" categories=categories.Scene sections='scenes' data=scenes}}
        </div>
        <div class="tab" data-tab="actors">
            {{> "modules/regions/templates/partials/documents.hbs" detailClass="regionsActors" createType="Actor" localCreate="REGIONS.new-actor" categories=categories.Actor sections='actors' data=actors}}
        </div>
        <div class="tab" data-tab="items">
            {{> "modules/regions/templates/partials/documents.hbs" detailClass="regionsItems" createType="Item" localCreate="REGIONS.new-item" categories=categories.Item sections='items' data=items}}
        </div>
        <div class="tab" data-tab="journals">
            {{> "modules/regions/templates/partials/documents.hbs" detailClass="regionsJournals" createType="JournalEntry" localCreate="REGIONS.new-journal" categories=categories.JournalEntry sections='journals' data=journals}}
        </div>
        <div class="tab" data-tab="rolltables">
            {{> "modules/regions/templates/partials/documents.hbs" detailClass="regionsRolltables" createType="RollTable" localCreate="REGIONS.new-rolltable" categories=categories.RollTable sections='rolltables' data=rolltables}}
        </div>
        <div class="tab" data-tab="playlists">
            {{> "modules/regions/templates/partials/documents.hbs" detailClass="regionsPlaylists" createType="Playlist" localCreate="REGIONS.new-playlist" categories=categories.Playlist sections='playlists' data=playlists}}
        </div>
    </section>
</form>