<form>
    <div class="flexrow">
        {{#if canCreate}}
        <div class="regionsHeaderButtons">
            <button type="button" data-action="create-region" title="{{localize "REGIONS.TOOLTIP.create-region"}}">
                <i class="fas fa-plus"></i><span>{{localize "REGIONS.new-region"}}</span>
            </button>
            <button type="button" data-action="manage-templates" title="{{localize "REGIONS.TEMPLATE.Manage"}}">
                <i class="fas fa-clipboard-list"></i><span>{{localize "REGIONS.TEMPLATE.Manage"}}</span>
            </button>
            <button type="button" data-action="manage-categories" title="{{localize "REGIONS.TOOLTIP.manage-categories"}}">
                <i class="fas fa-th-list"></i>{{localize "REGIONS.TOOLTIP.manage-categories"}}</span>
            </button>
            <button type="button" data-action="manage-custom-tags" title="{{localize "REGIONS.CUSTOM_TAG.Manage"}}">
                <i class="far fa-address-card"></i><span>{{localize "REGIONS.CUSTOM_TAG.Manage"}}</span>
            </button>
        </div>
        {{/if}}
    </div>
    <hr />
    <div class="regionsOverviewList">
        {{#each category}}
        <div data-category-id="{{id}}">
            <div class="regionsCategoryHeader">
                <button type="button" data-category-id="{{id}}" data-action="toggle-collapse"><i class="fas fa-caret-square-down"></i></button>
                <label class="regionsCategoryName" data-category-id="{{id}}">{{#if name}}{{name}}{{else}}{{localize "REGIONS.category-placeholder"}}{{/if}}</label>
                {{#unless (eq id null)}}
                <i data-action="delete-category" class="fas fa-trash" title="{{localize "REGIONS.CATEGORY.delete"}}"></i>
                {{/unless}}
            </div>
            <div class="regionsCategoryContent">
                {{#unless regions}}
                <p>
                    <span>{{localize "REGIONS.no-regions-exist"}}</span>
                </p>
                {{else}}
                <ul class="regionsList flexcol">
                    {{#each regions}}
                    <li class="regionsClickableLink regionsDraggable flexrow" data-region-id="{{id}}">
                        <span class="regionsFlex1 regionsSelectable regionsImage" style="text-align: center;" data-action="edit">
                            <img src="{{icon}}" />
                        </span>
                        <span class="regionsFlex7" data-action="edit">
                            <label data-dtype="String">{{#if name}}{{name}}{{else}}{{localize "REGIONS.default-name"}}{{/if}}</label>
                        </span>
                        {{#if ../../canCreate}}
                        <span class="regionsFlex1 regionsListOptions">
                            <button type="button" title="{{localize "REGIONS.delete-region"}}" data-action="delete"
                                class="flex0 foundryRegions-list-button">
                                <i class="fas fa-trash"></i>
                            </button>
                        </span>
                        {{/if}}
                    </li>
                    {{/each}}
                </ul>
                {{/unless}}
            </div>
        </div>
        {{/each}}
    </div>
</form>