<form id="regionsCategoriesManager">
    <nav class="sheet-tabs tabs" data-group="sections">
        {{#each categories}}
        <a class="item" data-tab="{{label}}">{{label}}</a>
        {{/each}}
    </nav>
    <hr/>
    <section id="manageCategoryForm">
        {{#each categories}}
        <div class="tab" data-tab="{{label}}">
            <div class="regionsTableListHeader">
                <label>{{localize "REGIONS.CATEGORY.name"}}</label>
                <span class="regionsTableListOptions">
                    <button type="button" name="create" data-action="create" data-type="{{type}}" alt="{{localize "REGIONS.CATEGORY.create"}}" title="{{localize "REGIONS.CATEGORY.create"}}">
                        <i class="fas fa-plus"></i>
                    </button>
                </span>
            </div>
            {{#unless documents}}
            <div>{{localize "REGIONS.no-categories-defined"}}</div>
            {{else}}
            <ul class="regionsTableList">
                {{#each documents}}
                <li class="regionsCategory" data-detail-id="{{id}}">
                    <input type="text" value="{{name}}" name="{{id}}" placeholder="{{localize "REGIONS.category-placeholder"}}"/>
                    <span class="regionsTableListOptions">
                        <i data-action="delete-category" class="fas fa-trash" title="{{localize "REGIONS.CATEGORY.delete"}}"></i>
                    </span>
                </li>
                {{/each}}
            </ul>
            {{/unless}}
        </div>
        {{/each}}
    </section>
    <footer class="flexrow">
        <button type="button" name="submit" data-action="submit" alt="{{localize "Close"}}"
            title="{{localize "Close"}}"><i class="fas fa-check"></i>{{localize "Close"}}</button>
    </footer>
</form>