<form>
    <header>
        <h3>{{localize "REGIONS.IMPORT.Header"}}</h3>
        <hr />
    </header>
    <section class="regionsImportCompendiumContent">
        <div class="regionsImportCompendiumSelection">
            <p>{{localize "REGIONS.IMPORT.SelectRegion"}}
                <select name="regionID">
                    <option value="null" readonly>{{localize "REGIONS.please-select"}}</option>
                    {{selectOptions regions selected=regionID localize=false labelAttr="name" nameAttr="id"}}
                </select>
            </p>
        </div>
        <div class="regionsImportCompendiumInfo">
            <div class="regionsColumn"><span>{{localize "REGIONS.IMPORT.CompendiumType"}} {{type}}</span><span>{{localize "REGIONS.IMPORT.CompendiumSize"}} {{count}}</span></div>
            <hr />
            <div class="regionsImportCompendiumPreview">
                <ul>
                    {{#each preview}}
                    <li><img src="{{img}}" />{{name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </section>
    <footer class="flexrow">
        <button type="button" name="cancel" data-action="cancel" alt="{{localize "Cancel"}}"
            title="{{localize "Cancel"}}"><i class="far fa-times-circle"></i>{{localize "Cancel"}}</button>
        <button type="button" name="submit" data-action="submit" alt="{{localize "REGIONS.Import"}}"
            title="{{localize "REGIONS.Import"}}"><i class="fas fa-check"></i>{{localize "REGIONS.import-to-regions"}}</button>
    </footer>
</form>