<form id="regionsTemplatesManager">
    <div class="regionsTableListHeader">
        <span>&nbsp;</span>
        <label>{{localize "REGIONS.TEMPLATE.Name"}}</label>
        <label>{{localize "REGIONS.TEMPLATE.ShortDescription"}}</label>
        <span class="regionsTableListOptions">
            <button type="button" name="create" data-action="create" alt="{{localize "REGIONS.TEMPLATE.Create"}}" title="{{localize "REGIONS.TEMPLATE.Create"}}">
                <i class="fas fa-plus"></i>
            </button>
        </span>
    </div>
    {{#unless templates}}
    <div>{{localize "REGIONS.no-templates-defined"}}</div>
    {{/unless}}
    <ul class="regionsTableList">
        {{#each templates}}
        <li class="regionsTemplate frDraggable" data-detail-id="{{id}}">
            <span><i class="fas fa-grip-vertical"></i></span>
            <img src="{{icon}}" />
            <label>{{name}}</label>
            <label>{{shortDescription}}</label>
            <span class="regionsTableListOptions">
                <i data-action="edit-template" class="fas fa-cog" title="{{localize "REGIONS.TEMPLATE.Edit"}}"></i>
                <i data-action="clone-template" class="fas fa-clone" title="{{localize "REGIONS.TEMPLATE.Duplicate"}}"></i>
                <i data-action="delete-template" class="fas fa-trash" title="{{localize "REGIONS.TEMPLATE.Delete"}}"></i>
            </span>
        </li>
        {{/each}}
    </ul>
    <footer class="flexrow">
        <button type="button" name="submit" data-action="submit" alt="{{localize "Close"}}"
            title="{{localize "Close"}}"><i class="fas fa-check"></i>{{localize "Close"}}</button>
    </footer>
</form>