<form class="regionsEditTemplateForm">
    <div class="flexrow">
        <span class="regionsFlex1 regionsImage">
            <img src="{{regionTemplate.icon}}" data-icon="{{regionTemplate.icon}}" data-action="icon" />
        </span>
        <div class="regionsFlex9 regionsTemplateDescription">
            <input type="text" data-dtype="String" name="name" {{#if readonly}}disabled readonly{{/if}} placeholder="{{localize "REGIONS.TEMPLATE.DefaultName"}}" value="{{regionTemplate.name}}" /> <br />
            <select name="regionCategory">
                <option value=null selected>{{localize "REGIONS.TEMPLATE.RegionCategory"}}</option>
                {{selectOptions regionCategories selected=regionTemplate.categoryID localized=false labelAttr="name" nameAttr="id"}}
            </select>
            <input type="text" name="shortDescription" {{#if readonly}}disabled readonly{{/if}} value="{{regionTemplate.shortDescription}}" placeholder="{{localize "REGIONS.TEMPLATE.DefaultDescription"}}"/>
        </div>
    </div>
    <div class="regionsTemplateHeader">
        {{#unless readonly}}
        <!-- Add Existing Category Dropdown -->
        <label>{{localize "REGIONS.add-category"}}
            <select data-change="add-existing-category" name="regionsExistingCategories" {{#unless availableCategories}}disabled readonly{{/unless}}>
                <option selected disabled>{{localize "REGIONS.please-select"}}</option>
                {{selectOptions availableCategories selected=value localize=false labelAttr="name" nameAttr="id"}}
            </select>
        </label>
        <label>{{localize "REGIONS.add-custom-tag"}}
            <select data-change="add-custom-tag" name="regionsExistingCustomTag">
                <option selected disabled>{{localize "REGIONS.please-select"}}</option>
                {{selectOptions availableTags selected=value localize=false labelAttr="name" nameAttr="id"}}
            </select>
        </label>
        <!-- Manage Categories -->
        <button data-action="manage-categories"><i class="fas fa-th-list"></i>{{localize "REGIONS.CATEGORY.manage"}}</button>
        <!-- Create New Document of this Type -->
        <button data-action="manage-custom"><i class="fas fa-cog"></i>{{localize "REGIONS.CUSTOM_TAG.Manage"}}</button>
        {{/unless}}
    </div>
    <hr />
    <div class="template-tags">
        {{#each templateTags}}
        <div data-category-id="{{id}}">
            <div class="regionsCategoryHeader">
                <button type="button" data-category-id="{{id}}" data-action="expand-collapse" data-target="regionsCategoryContent"><i
                    class="fas fa-caret-square-down"></i></button>
                <label class="regionsCategoryName" data-category-id="{{id}}">{{name}}</label>
                {{#unless ../readonly}}
                {{#if id}}
                <i data-action="delete-category" data-category-id="{{id}}" class="fas fa-trash" title="{{localize "REGIONS.TOOLTIP.delete-category"}}"></i>
                {{/if}}
                {{/unless}}
            </div>
            <div class="regionsCategoryContent">
                <ul class="regionsTableList">
                    {{#each documents}}
                    <li class="regionsCustomTag regionsDraggable" data-detail-id="{{id}}">
                        <span><i class="fas fa-grip-vertical"></i></span>
                        <label>{{name}}</label>
                        <label>{{type}}</label>
                        {{#unless ../../readonly}}
                        <span class="regionsTableListOptions">
                            <i data-action="edit-custom" class="fas fa-cog" title="{{localize "REGIONS.CUSTOM_TAG.Edit"}}"></i>
                            <i data-action="delete-custom" class="fas fa-trash" title="{{localize "REGIONS.CUSTOM_TAG.Delete"}}"></i>
                        </span>
                        {{/unless}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
    <footer class="flexrow">
        <button type="button" name="cancel" data-action="cancel" alt="{{localize "Cancel"}}"
            title="{{localize "Cancel"}}"><i class="far fa-times-circle"></i>{{localize "Cancel"}}</button>
        <button type="button" name="submit" data-action="submit" alt="{{localize "Submit"}}"
            title="{{localize "Submit"}}"><i class="fas fa-check"></i>{{localize "Submit"}}</button>
    </footer>
</form>