ol.context-items li.context-item {
    position: relative;
}

#context-menu .context-item:hover > ul.extendedSubmenu {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

#context-menu > .context-items > .context-item:hover > ul.extendedSubmenu:hover {
    overflow: inherit;
}


#context-menu ul li.context-item {
    min-height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: normal;
}

#context-menu ul li.context-item:last-child {
    border-bottom: none;
}

ul.context-items.extendedSubmenu {
    position: absolute;
    left: 148px;
    display: none;
    list-style-type: none;
    max-width: 360px;
    min-width: 150px;
    top: calc(100% - 37px);
    margin-top: 0px;
    width: 100%;
    background: #23221d;
    border: 1px solid var(--color-border-dark);
    border-radius: 3px;
    color: var(--color-text-light-1);
    z-index: calc(var(--z-index-app) +1);
    padding: 0px;
    max-height: 505px;
    overflow: inherit;
}

.extendedSubmenu > li.context-item {
    text-align: left;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

.extendedSubmenu img {
    vertical-align: middle;
    padding-bottom: 2px;
    padding-right: 4px;
    width: 30px;
}

#foundryRegionsEditor > nav#context-menu > ol.context-items > li.context-item > ul.extendedSubmenu span.context-container > span {
    max-width: 140px;
}