/** Regions Icon **/
.regionsNavigationButton {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    height: var(--navibuttonsize, 34px);
}

.regionsNavigationButton > i {
    margin-right: 0px;
}

.regionsNavigationButton:hover, .regionsNavigationButton:focus {
    box-shadow: none;
    text-shadow: 0 0 5px red;
}

/* Shortcuts */
.regionsFlex1 {
    flex-grow: 1;
}

.regionsFlex2 {
    flex-grow: 2;
}

.regionsFlex3 {
    flex-grow: 3;
}

.regionsFlex4 {
    flex-grow: 4;
}

.regionsFlex5 {
    flex-grow: 5;
}

.regionsFlex6 {
    flex-grow: 6;
}

.regionsFlex7 {
    flex-grow: 7;
}

.regionsFlex7 {
    flex-grow: 8;
}

.regionsFlex9 {
    flex-grow: 9;
} 

/* General Use */
.regionsClickableLink:hover {
    text-shadow: 0px 0px 12px #484;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.regionsClickableLink:hover * {
    cursor: pointer;
}

.regionInput {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.regionsImage {
    max-width: 54px;
}

.regionsImage > img {
    width: 48px;
    border: 0px;
    display: inline-block;
    vertical-align: middle;
}

.regionNotes {
    height: 500px;
    overflow-y: auto;
}

.regionNotes .editor {
    height: 100%;
}

.regionNotes .tox {
    height: 100%;
    min-height: 100%;
}

.regionsConfirmDialog .dialog-buttons .dialog-button {
    line-height: normal;
}

.regionsColumn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.regionsContentRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.regionsContentRow > button {
    width: auto;
    padding: 2px 20px;
}


/** Headers **/
.regions button {
    cursor: pointer;
}

div.regionsHeaderButtons {
    height: 32px;
    display: flex;
}

div.regionsHeaderButtons i {
    padding-right: 5px;
}

.regionsDetailTabHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.regionsDetailTabHeader > label {
    display: flex;
    width: 40%;
    align-items: center;
}

.regionsDetailTabHeader.regionsCustomTagsHeader > div.regionsCustomTagSelections {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.regionsDetailTabHeader.regionsCustomTagsHeader > div.regionsCustomTagSelections > label {
    max-width: 200px;
    margin-right: 4px;
}

.regionsDetailTabHeader > label > select {
    margin-left: 8px;
}

.regionsDetailTabHeader > span {
    display: flex;
    width: 40%;
}

.regionsDetailTabHeader.regionsCustomTagsHeader > span {
    width: 70%;    
}

.regionsDetailTabHeader > button {
    width: 25%;
}

/** Categories **/
.regionsCategoryHeader {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    width: calc(100% - 2px);
}

.regionsCategoryHeader > i {
    margin-right: 16px;
    cursor: pointer;
}

.regionsCategoryHeader > i:hover, .regionsCategoryHeader > i:focus {
    box-shadow: none;
    text-shadow: 0 0 5px red;
}

.regionsCategoryHeader > button {
    border: none;
    background: transparent;
    width: 24px;
    flex: 0;
}

.regionsCategoryHeader > button > i {
    margin-right: 0px;
}

.regionsCategoryHeader > label {
    width: 100%;
}

.regionsCategoryHeader > h3 {
    margin: 0;   
}

/** Category Lists **/
.regionsCategoryContent {
    width: calc(100% - 8px);
}

.regionsCategoryContent > div:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

/** Form Specific **/
/* Region Overview */
#regionsOverview .window-content {
    overflow-y: hidden;
}

#regionsOverview button > i.fas {
    margin: 0px;
}

.regionsOverviewList {
    max-height: 450px;
    overflow-y: auto;
}

.regionsList {
    margin-top: 0px;
    padding: 0px;
}

.regionsList > li {
    height: 48px;
    line-height: 48px;
    padding: 2px 0px;
    border: 1px solid rgba(0,0,0,0);
}

.regionsList > li:hover .regionsListOptions {
    visibility: visible;
}

.regionsList > li .regionsListOptions {
    margin-right: 3px;
    text-align: right;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    visibility: hidden;
}

.regionsList > li .regionsListOptions button {
    width: auto;
    background: none;
    border: none;
    padding: 0px 6px;
}

.regionsList > li label {
    line-height: 48px;
}

/* Region Detail */
.regionDetail {
    width: 800px;
    height: 680px;
    overflow-y: hidden;
}

.regionDetail .regionDetailInfo {
    display: flex;
    align-items: center;
}

.regionDetail .regionDetailInfo label {
    display: inline-block;
    white-space: nowrap;
    margin-right: 6px;
}

.regionDetail .regionDetailInfo label:not(:last-child) {
    border-right: 1px solid #aaa;
    padding-right: 4px;
    box-shadow: 1px 0px #dedede;
}

.regionDetail .regionDetailInfo label input {
    vertical-align: middle;
    margin-left: 0px;
}

.regionDetail .regionDetailInfo label span {
    vertical-align: middle;
}

.regionDetail .regionDetailInfo label span > i {
    margin-right: 4px;
}

.regionDetail .regionDetailInfo .regionsTemplateLink > span:hover {
    cursor: pointer;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

.regionDetail .regionInfoContent {
    display: flex;
}

.regionDetail .regionInfoContent .regionList {
    flex: 3;
    height: 534px;
    max-width: 390px;
    border-right: 1px solid #aaa;
    box-shadow: 1px 0px #dedede;
}

.regionDetail .regionInfoContent .regionList .regionListResults {
    overflow-y: auto;
    height: 500px;
}

.regionDetail .regionInfoContent .regionSearchBar {
    align-items: center;
}

.regionDetail .regionInfoContent .regionSearchBar > h3 {
    margin-bottom: 0px;
    font-size: 1em;
    margin-right: 4px;
}

.regionDetail .regionInfoContent .regionSearchBar > span > input {
    margin-right: 9px;
    width: calc(100% - 84px);
}

.regionDetail .regionInfoContent .regionSearchBar > span > button {
    width: 32px;
}

.regionDetail .regionContent {
    overflow-y: hidden;
    height: 602px;
}

.regionDetail .regionDetailContent {
    height: 542px;
    overflow-y: auto;
}

.regionDetail .regionList .regionDetailContent {
    height: auto;
}

.regionDetail .regionInfoContent .regionsNotesEditor {
    flex: 3;
    height: 534px;
    max-width: 390px;
}

.regionDetail .regionDetailContent .regionDocument {
    align-items: center;
    padding: 4px 0px;
    margin: 4px 0px;
}

.regionDetail .regionDetailContent .regionDocument img {
    max-height: 32px;
    max-width: 32px;
    border: 0px;
    vertical-align: middle;
}

.regionDetail .regionDetailContent.regionScenes .regionDocument  img {
    max-width: 90px;
    max-height: 30px;
    margin-right: 4px;
}

.regionsCustom .regionDetailContent .regionsCustomTag {
    vertical-align: top;
    width: 100%;
    padding: 4px;
    margin: 0px 0px 4px 0px;
    display: flex;
    align-content: center;
    align-items: center;
}

.regionsCustom .regionDetailContent .regionsCustomTag > .regionsCustomTagDragger {
    margin-right: 6px;
}

.regionsCustom .regionDetailContent .regionsCustomTag .regionsCustomTagHeader {
    margin-right: 6px;
    width: 20%;
    max-width: 20%;
}

.regionsCustom .regionDetailContent .regionsCustomTag .regionsCustomTagHeader label {
    flex: 7;
    font-weight: bold;
    font-size: 1.1em;
}

.regionsCustom .regionDetailContent .regionsCustomTag .regionsCustomOptions {
    margin-left: 6px;
}

.regionsCustom .regionDetailContent .regionsCustomTag .regionsCustomOptions i {
    margin: 0px 4px;
    cursor: pointer;
}

.regionsCustom .regionDetailContent .regionsCustomTag .regionsCustomTagData {
    display: block;
    flex: 9;
}

i.regionFromCompendium {
    visibility: visible;
}

.regionDetailCompendium {
    visibility: hidden;
    padding-right: 6px;
}

.regionDetail .regionDescription {
    height: 100%;
    margin-right: 4px;
    resize: none;
    min-height: auto;
}

/** Templates **/
.regionsEditTemplateDialog > .window-content {
    overflow-y: hidden;
}

.regionsTemplateHeader {
    display: flex;
    padding-top: 5px;
    justify-content: space-evenly;
}

.regionsTemplateHeader > label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    width: 25%;
}

.regionsTemplateHeader > label > select {
    width: 100%;
}

.regionsTemplateHeader > button {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    line-height: inherit;
    width: 24%;
}

.regionsEditTemplateDialog .regionsTemplateDescription select {
    width: calc(40% - 11px);
    margin-right: 6px;
}

.regionsEditTemplateDialog .regionsTemplateDescription input:last-child {
    width: 60%;
}

.template-tags {
    max-height: 416px;
    height: 416px;
    overflow-y: auto;
}

.regionsEditTemplateForm span.regionsTableListOptions {
    margin-right: 5px;
}

/** Custom Tags **/
#regionsCustomTagManager .regionsTableListOptions {
    min-width: 60px;
}

.regionsCustomTag .regionsCustomTagData .regionsSlider {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    position: relative;
    padding-bottom: 2px;
    margin-bottom: 4px;
}

.regionsCustomTag .regionsCustomTagData .regionsSlider span {
    position: absolute;
    top: 12px;
    font-size: 1rem;
}

.regionsCustomTag .regionsCustomTagData .regionsSlider span:nth-child(even) {
    left: 0;
}

.regionsCustomTag .regionsCustomTagData .regionsSlider span:nth-child(odd) {
    right: 0;
}

.regionsCustomTag .regionsCustomTagData .regionsCustomTagNumeric {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.regionsCustomTag .regionsCustomTagData .regionsCustomTagNumeric button {
    width: 32px;
    padding: 0;
    cursor: pointer;
}

.regionsCustomTag .regionsCustomTagData .regionsCustomTagNumeric button:first-child {
    left: 4px;
}

.regionsCustomTag .regionsCustomTagData .regionsCustomTagNumeric button:last-child {
    right: 4px;
}

.custom-resource-options > div {
    display: flex;
    align-items: center;
}

.custom-resource-options button {
    width: 32px;
    padding: 0px;
}

.custom-resource-options button i {
    margin: 0px;
}

.custom-resource-options ul {
    list-style-type: none;
    padding: 0px;
}

.custom-resource-options ul li {
    display: flex;
    align-items: center;
}

/** Table Lists **/
.regionsTableListHeader {
    display: flex;
    place-content: center space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.regionsTableListHeader label {
    font-weight: bold;
    flex: 1;
}

.regionsTableListHeader .fas {
    margin: 0px;
}

.regionsTableListHeader > :first-child {
    min-width: 13px;
}

.regionsTableList {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    max-height: 470px;
    overflow-y: auto;
}

.regionsTableList li {
    margin: 0px;
    padding: 5px 0px;
    flex: 1 1 25px;
    display: flex;
    align-items: center;
    place-content: center space-between;
    flex-flow: row nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.regionsTableList li > * {
    margin-right: 2px;
}

.regionsTableList li:last-child {
    border-bottom: none;
}

.regionsTableList li:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

.regionsTableList li > img {
    width: 24px;
}

.regionsTableList li label {
    flex: 1;
}

.regionsTableList li i {
    margin: 0px 2px;
    cursor: pointer;
}

.regionsTableListOptions > button {
    line-height: 21px;
}

.regionsTableList li i.fa-grip-vertical {
    cursor: grab;
}

#regionsCategoriesManager .regionsTableList .regionsCategory > input {
    width: calc(100% - 40px);
}

.regionsTableList > .regionsCustomTag > span {
    margin-left: 10px;
}

/* Compendium Import */
.regionsImportCompendiumContent {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.regionsImportCompendiumContent .regionsImportCompendiumSelection {
    text-align: center;
}

.regionsImportCompendiumContent .regionsImportCompendiumPreview {
    max-height: 350px;
    height: 350px;
    overflow-y: auto;
}

.regionsImportCompendiumContent .regionsImportCompendiumPreview > ul {
    list-style-type: none;
}

.regionsImportCompendiumContent .regionsImportCompendiumPreview > ul > li {
    display: flex;
    align-items: center;
    padding: 2px 0px;
}

.regionsImportCompendiumContent .regionsImportCompendiumPreview > ul > li:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

.regionsImportCompendiumContent .regionsImportCompendiumPreview > ul > li > img {
    width: 42px;
    height: 42px;
    border: none;
    margin-right: 8px;
}

/* Base Context Menu */
#foundryRegionsEditor > nav#context-menu > ol.context-items > li.context-item {
    text-align: left;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    line-height: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 120px;
    max-width: 240px;
    text-overflow: ellipsis;
}

#foundryRegionsEditor > nav#context-menu > ol.context-items > li.context-item:last-child {
    border-bottom: none;
}

#foundryRegionsEditor > nav#context-menu > ol.context-items > li.context-item span.context-container {
    display: flex;
    align-items: center;
    margin: 4px 0px;
}

#foundryRegionsEditor > nav#context-menu > ol.context-items > li.context-item span.context-container > img {
    padding-right: 4px;
    height: 28px;
    border: none;
}

#foundryRegionsEditor > nav#context-menu > ol.context-items > li.context-item span.context-container > span {
    max-width: 70px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

#foundryRegionsEditor > nav#context-menu > ol.context-items > li.context-item span.context-container.regionsNoRegionDefined > span {
    max-width: 120px;
}

/* Backups Management */

.regionsBackupsAllExport {
    margin-bottom: 4px;
}

.regionsBackupsAllExport > .regionsContentRow {
    margin-bottom: 4px;
}

.regionsBackupsAllExport > .regionsContentRow > button {
    padding: 1px 6px;
}

.regionsBackupsAllExport ul {
    max-height: 400px;
    overflow-y: auto;
}

.regionsBackupsHeader > h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.regionsLocalBackupTable > table {
    border-bottom: none;
}

.regionsLocalBackupTable tbody {
    max-height: 300px;
    overflow-y: auto;
    display: block;
}

.regionsLocalBackupTable tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.regionsLocalBackupTable button {
    width: auto;
}

.regionsLocalBackupTable th:nth-child(1), .regionsLocalBackupTable td:nth-child(1) {
    text-align: left;
}

.regionsLocalBackupTable th:nth-child(1) > label {
    padding-left: 4px;
}

.regionsLocalBackupTable th:nth-child(2), .regionsLocalBackupTable td:nth-child(2) {
    text-align: center;
}

.regionsLocalBackupTable th:nth-child(3), .regionsLocalBackupTable td:nth-child(3) {
    text-align: right;
}

.regionsLocalBackupTable th:nth-child(3) > label {
    padding-right: 4px;
}

.regionsBackupsManualImportSelection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 4px;
}

.regionsBackupsManualImportSelection > input {
    width: 70%;
}

.regionsBackupsManualImportSelection > button {
    width: auto;
}

.regionsBackupsTemplatesImport > h4 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.regionsBackupsTemplatesImport > h4 > button {
    width: auto;
}